body{
    font-family: 'Raleway', sans-serif;
}
.cidade p{
    padding-bottom: 15px;
    font-size: 1.2em;
    letter-spacing: 2px;
}
.container{
    padding:25px 15px;
}
.title{
    font-size: 2em;
    color: #06b1ab;
    padding-bottom: 20px;
}
strong{
    font-weight: 800;
}
form label, form legend {
    display: block;
    font-size: 21px;
    margin-bottom: 20px;
}
.input-padrao{
    display: block;
    background-color: #f0eeebab;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 100%;
}
.checkbox{
    margin: 20px 0;
}
.btn-submit{
    padding: 15px 25px;
    background-color: #001c32;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all;
}
.btn-submit:hover{
    transform: scale(1.05);
}